@{
    ViewBag.Title = "Tharga Reporter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Välkommen till Tharga Reporter</h2>
    <p style="width:450px;">
        Create and manage XML templates for print and PDF output.
    </p>
