trigger:
- master

name: 2.1.$(Rev:r)

pool:
  vmImage: 'windows-latest'

variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  # BQC.ForceNewBaseline: false

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 9'
  inputs:
    version: 9.0.x
    includePreviewVersions: false

- task: DotNetCoreCLI@2
  displayName: 'Restore nuget packages'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '**/*.csproj'
    arguments: '-c Release /p:NoWarn=0618'
    versioningScheme: 'byBuildNumber'

- task: DotNetCoreCLI@2
  displayName: 'Test'
  inputs:
    command: 'test'
    projects: '**/Tharga.Reporter.Tests.csproj'
    arguments: '--collect "Code coverage" --configuration $(buildConfiguration) --no-build'

# - task: BuildQualityChecks@8
#   displayName: 'Build Quality Checks'
#   inputs:
#     checkWarnings: true
#     warningFailOption: 'build'
#     allowWarningVariance: true
#     warningVariance: '1'
#     checkCoverage: true
#     coverageFailOption: 'build'
#     coverageType: 'blocks'
#     allowCoverageVariance: true
#     coverageVariance: '1'

- task: DotNetCoreCLI@2
  displayName: 'Pack'
  inputs:
    command: 'pack'
    packagesToPack: '**/Tharga.Reporter.csproj'
    versioningScheme: 'byBuildNumber'

- task: DotNetCoreCLI@2
  displayName: 'Push'
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: 'eda8985f-7491-4ceb-b57f-a6ce8a0c96d4'

- script: |
     git tag $(Build.BuildNumber)
     git push origin $(Build.BuildNumber)
  workingDirectory: $(Build.SourcesDirectory)
  displayName: Tag