/* Cross browsing CSS reset */
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
/*
li {
    list-style: none outside none;
}
*/
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
}
legend {
    color: #000000;
}
del, ins {
    text-decoration: none;
}
body {
    font: 13px/1.231 "Trebuchet MS",arial,helvetica,clean,sans-serif;
	background-color: #161617;
}
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
}
table {
    font-size: inherit;
}
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
}

/* General layout */
.hheader {
	height: 113px;
	background-color: #161617;
}
.header {
	width: 980px;
	margin-right:auto;
	margin-left:auto;
}
.logo {
	background-image:url(images/thargelion-logo.png);
	width: 303px;
	height: 75px;
	position:relative;
	left: 5px;
	top: 21px;	
}
.hmain {
	height: 524px;
	background-color: #2680d1;
	background-image:url(images/mainbkg.png);
	background-repeat:repeat-x;
}
.hcontent {
	background-color: #2680d1;
	background-image:url(images/contentbkg.png);
	background-repeat:repeat-x;
	overflow:hidden;
}
.maintheme {
	height: 524px;
	background-image:url(images/theme1.jpg);
	background-position:center;
	background-repeat:no-repeat;
}
.main, .content, .headerbar {
	width: 980px;
	margin-right:auto;
	margin-left:auto;
}
.hfooter {
	height: 225px;
	background-color: #161617;
}
.footer {
	width: 980px;
	margin-right:auto;
	margin-left:auto;
}

/* Global navigation */

.globalnav {
	width:700px;
	height:30px;
	display:block;
	position:relative;
	left: 280px;
	top: -10px;
}
.globalnav a {
	font-size: 1.4em;
	color: #a16b2e;
	text-decoration:none;
}
.globalnav a:hover {
	color:#e59841;
	text-decoration:underline;
}
.globalnav ul {
	float:right;
}
.globalnav li {
	display: block;
	float:left; 
	margin-left: 23px;
}

/* Main page navigation */

.mainnav {
	width:700px;
	height:30px;
	display:block;
	position:relative;
	left: 70px;
	top: 193px;
}
.mainnav li {
	color: #dddddd;
	list-style:disc;
}
.mainnav h1 {
	font-size:24px;
    font-weight: normal;
	color: #dddddd;
}
.mainnav h2 {
	font-size:24px;
    font-weight: normal;
	color: #dddddd;
}
.mainnav p {
	color: #dddddd;
}
.mainnav a {
	font-size: 1.4em;
	color: #dddddd;
	text-decoration:none;
}
.mainnav a:hover {
	color: #ffffff;
	text-decoration:underline;
}

/* Footer */
.footer > div {
	float:left;
	width:246px;
	height:155px;
	margin-top:35px;
	margin-right:37px;
}
.footer .col1 {
	margin-left:8px;
}
.footer .col3 {
	height:155px;
	border-left:#406872 1px solid;
	padding-left:35px;
	margin-right:0px;
	margin-left:100px;
}
.footer h2 {
	color:#7e92a7;
	font-size:18px;
	width:246px;
	border-bottom:#a16b2e 1px solid;
	padding-bottom:2px;
	margin-bottom:3px;
}
.footer p {
	color:#7e92a7;
	font-size:12px;
}
.footer p a {
	text-decoration:underline;
	color:#7e92a7;
}
.footer p a:hover {
	text-decoration:underline;
	color:#aec9e6;
	font-size:12px;
}
.disclaimer {
	font-size:12px;
	color:#2b2b2d;
	padding-top:40px;
	display:block;
}
.disclaimer a {
	font-size:12px;
	color:#2b2b2d;
}
.disclaimer a:hover {
	font-size:12px;
	color:#434346;
}

/* Content page */
.content > div {
	float:left;
	display:block;
	overflow:hidden;
}
.hheaderbar {
	height:78px;
	background-color:#a16b2e;
	border-top:1px #90b1c8 solid;
	border-bottom:1px #90b1c8 solid;
}
.headerbar-logo {
	width:163px;
	height:79px;
	background-image:url(images/headerbar-logo.png);
	background-repeat:no-repeat;
	position:relative;
	left:753px;
	top:-56px;
}
.hcontent h1 {
	color:#ffffff;
	font-size:30px;
	padding-top:18px;
	margin-left:8px;
}
.hcontent h2 {
	color:#a16b2e;
	font-size:24px;
	padding-top:4px;
	padding-bottom:2px;
}
.hcontent h3 {
	color:#afc0ce;
	font-size:20px;
	font-weight:bold;
	padding-top:4px;
}
.hcontent h4 {
	color:#afc0ce;
	font-size:18px;
	font-weight:bold;
	padding-top:4px;
}
.hcontent p {
	color:#ffffff;
	font-size:16px;
	line-height:21px;
	margin-bottom:8px;
}
.hcontent li {
	color:#ffffff;
	font-size:16px;
	line-height:21px;
	list-style-type:disc;
	margin-left:18px;
}
.content .col0 {
	width:961px;
	margin:26px 0px 26px 8px;
	min-height:400px;
}
.content .col1 {
	width:640px;
	margin:26px 0px 26px 8px;
	padding-right:26px;
	border-right:1px #90b1c8 solid;
	min-height:400px;
}
.content .col2 {
	position:relative;
	left:-1px;
	width:260px;
	margin:26px 0px 26px 0px;
	padding-left:35px;
	border-left:1px #90b1c8 solid;
}